@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 231 100% 8%;

    --card: 0 0% 100%;
    --card-foreground: 231 100% 8%;

    --popover: 0 0% 100%;
    --popover-foreground: 231 100% 8%;

    --primary: 231 61% 22%;
    --primary-foreground: 0 0% 100%;

    --secondary: 37 100% 68%;
    --secondary-foreground: 231 100% 8%;

    --muted: 240 13% 62%;
    --muted-foreground: 240 9% 53%;

    --accent: 2 100% 69%;
    --accent-foreground: 0 0% 100%;

    --destructive: 342 90% 61%;
    --destructive-foreground: 0 0% 100%;

    --border: 0 0% 92%;
    --input: 0 0% 100%;
    --ring: 231 61% 22%;

    --radius: 0.5rem;

    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;

    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
